body {
    background-image: url("ms-background.png");
    background-repeat: repeat;
}

h1 {
  color: navy;
}

a {
  text-decoration: none;
}

button {
  height: 50px;
  width: 150px;
  background-color: lightgreen;
  margin: 30px;
  cursor: pointer;
}